.table {
  margin: 1em 0;
  border-collapse: collapse;
  border: 0.1em solid #d6d6d6;
}

.th,
.td {
  padding: 0.25em 0.5em 0.25em 1em;
  vertical-align:center;
  text-indent: -0.5em;
}

.th {
  vertical-align: bottom;
  background-color: #666;
  color: #fff;
}

#THEAD thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

#TH th {
  position: sticky;
  top: 0;
  z-index: 2;
}

